name: Mobile/Python

permissions:
  contents: read

on:
  workflow_run:
    workflows:
    - Request
    types:
    - completed

concurrency:
  group: >-
    ${{ ((github.event.workflow_run.head_branch == 'main'
          || startsWith(github.event.workflow_run.head_branch, 'release/v'))
          && github.event.repository.full_name == github.repository)
        && github.run_id
        || github.event.workflow_run.head_branch }}-${{ github.event.repository.full_name }}-${{ github.workflow }}
  cancel-in-progress: true


jobs:
  load:
    secrets:
      app-key: ${{ secrets.ENVOY_CI_APP_KEY }}
      app-id: ${{ secrets.ENVOY_CI_APP_ID }}
    permissions:
      actions: read
      contents: read
      packages: read
      pull-requests: read
    if: |
      github.event.workflow_run.conclusion == 'success'
      && github.event.workflow_run.repository.full_name == github.repository
      && contains(fromJSON('["pull_request_target", "push", "schedule"]'), github.event.workflow_run.event)
    uses: ./.github/workflows/_load.yml
    with:
      check-name: mobile-python

  python-tests:
    permissions:
      actions: read
      contents: read
      packages: read
    if: ${{ needs.load.outputs.request && fromJSON(needs.load.outputs.request).run.mobile-python }}
    needs: load
    name: python-tests
    uses: ./.github/workflows/_mobile_container_ci.yml
    with:
      args: >-
        test
        --config=ci
        --config=mobile-rbe
        //test/python/...
      bind-mount: false
      request: ${{ needs.load.outputs.request }}
      target: python-tests

  request:
    secrets:
      app-id: ${{ secrets.ENVOY_CI_APP_ID }}
      app-key: ${{ secrets.ENVOY_CI_APP_KEY }}
    permissions:
      actions: read
      contents: read
      pull-requests: read
    if: |
      always()
      && github.event.workflow_run.conclusion == 'success'
      && github.event.workflow_run.repository.full_name == github.repository
      && contains(fromJSON('["pull_request_target", "push", "schedule"]'), github.event.workflow_run.event)
      && needs.load.outputs.request
      && fromJSON(needs.load.outputs.request).run.mobile-python
    needs:
    - load
    - python-tests
    uses: ./.github/workflows/_finish.yml
    with:
      needs: ${{ toJSON(needs) }}
